.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.my-span-big {
  color: #C2185B;
  font-size: 1.35em;
}

.my-span {
  color: mediumvioletred;
  font-size: 1.2em;
}

.my-span-small {
  color: #C828A0;
  font-size: 1.05em;
}

.my-add-to-cart-bk {
  background-color: blue;
}

.my-shuffle-bk {
  background-color: green;
}

.my-delete-bk {
  background-color: crimson;
}

.my-button {
  color: white;
  margin-right: 1em;
}
